// Define variables for your color scheme

// For example:
$red: #FD1015;
// $blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// New colour-palette

$green: #214F28;
$light-green: #83BC86;
$blue: #023382;
$light-blue: #1A6AA7;
$light: #D9E1D5;
