
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)), url(<%= asset_path 'banner_image.jpg' %>);">
  <div class="container-fluid" id="cards-home-container">
    <h1>Teed-Up</h1>
    <p>Golf clubs at your fingertips, wherever you are.</p>
    <a class="btn btn-brand" href="<%= bags_path %>">View Bags</a>
  </div>
</div>

<div class="container-fluid" id="cards-home-container">
  <div class="row " id="row-cards-home" style="justify-content: space-around;">
    <div class="card my-2" style="width: 20rem; margin: 0 auto;">
      <img class="card-img-top" src="https://i.pinimg.com/originals/93/44/61/93446102dbeefc7769317f3b817cdaca.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title-story">Find your ideal bag</h4>
        <p class="card-text-icon"><i class="fas fa-search-location"></i></p>
      </div>
    </div>
    <div class="card my-2" style="width: 20rem; margin: 0 auto;">
      <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/3102/5646/files/WEB---golf-landing-page_800x.jpg?v=1584558508" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title-story">Choose a rental date</h4>
        <p class="card-text-icon"><i class="far fa-calendar-check"></i></p>
      </div>
    </div>
    <div class="card my-2" style="width: 20rem; margin: 0 auto;">
      <img class="card-img-top" src="https://breakingeighty.com/wp-content/uploads/2019/11/jones-golf-bags-3.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title-story">Pick up your rented bag</h4>
        <p class="card-text-icon"><i class="far fa-handshake"></i></p>
      </div>
    </div>
</div>
</div>

<div class="container-fluid" id="cards-home-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'host_image.jpg' %>); border-radius: 4px; box-shadow: 0 1px 10px rgb(0 0 0 / 20%); border: solid 1px lightgrey; padding: 0; background-size: cover; background-position: left; ">
  <div class="host-card">
    <div class="host-card-content">
      <h2>Become a Bag-owner</h2>
      <p>Earn extra income by letting fellow golfers use it while you aren't.</p>
      <a href="<%= new_bag_path %>" class="btn btn-brand">Start today</a>
    </div>
  </div>
</div>

