
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path 'banner_image.jpg' %>);">
  <div class="container-fluid" id="cards-home-container">
    <h1>Teed-Up</h1>
    <p>Golf clubs at your fingertips, wherever you are.</p>
    <a class="btn btn-brand" href="<%= bags_path %>">View Bags</a>
  </div>
</div>

<div class="container-fluid" id="cards-home-container">
  <div class="row d-flex align-items-stretch" id="row-cards-home">
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://i.pinimg.com/originals/93/44/61/93446102dbeefc7769317f3b817cdaca.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">200 $ / day</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/3102/5646/files/WEB---golf-landing-page_800x.jpg?v=1584558508" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">150 $ / day</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://breakingeighty.com/wp-content/uploads/2019/11/jones-golf-bags-3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">100 $ / day</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://breakingeighty.com/wp-content/uploads/2021/01/vessel-player-3-.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">50 $ / day</h5>
        </div>
      </div>
    </div>
  </div>
</div>

