<h1>Lorem Ipsum</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
  <br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  <br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
  <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  <br> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
  <br> id est laborum.
</p>

<div class="container-fluid" id="cards-home-container">
  <div class="row d-flex align-items-stretch" id="row-cards-home">
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://i.pinimg.com/originals/93/44/61/93446102dbeefc7769317f3b817cdaca.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">200 $ / day</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/3102/5646/files/WEB---golf-landing-page_800x.jpg?v=1584558508" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">150 $ / day</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://breakingeighty.com/wp-content/uploads/2019/11/jones-golf-bags-3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">100 $ / day</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-deck my-2" style="width: 20rem">
        <img class="card-img-top" src="https://breakingeighty.com/wp-content/uploads/2021/01/vessel-player-3-.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Montréal</p>
          <h5 class="card-title">Card title</h5>
          <h5 class="card-price">50 $ / day</h5>
        </div>
      </div>
    </div>
  </div>

</div>