<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner_image.jpg' %>);">
  <div class="container">
    <h1>Teed-Up</h1>
    <p>Golf clubs at your fingertips, wherever you are.</p>
    <a class="btn btn-flat" href="#">View Bags</a>
  </div>
</div>
