.bag-form {

}

#new_bag, .edit_bag {
  width: 40%;
  margin: 80px auto;
  border: 1px solid rgb(201, 201, 201);
  padding: 30px;
  border-radius: 32px;
}

.bag_name {
  width: 50%;
}

.bag_rate {
  width: 30%;
}

