.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: white;
  overflow: hidden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: transparent;
}

.menu > ul > li {
  list-style: none;
}

.menu > ul > li > a {
  text-decoration: none !important;
  color: black;
}

div.menu {
  text-align: center;
}

a.nav-link {
  color: #000000 !important;
}

#navbarSupportedContent {
  background-color: white;
  padding: 8px;
  border-radius: 32px;
  box-shadow: 0px 0px 6px rgb(204, 204, 204);
  max-width: 300px;
}

a.navbar-brand {
  background-color: white;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px rgb(192, 192, 192);
}

.navbar-toggler {
  position: fixed;
  right: 20px;
}