<div class="col">
  <div class="card-deck my-2" style="width: 20rem">
    <img class="card-img-top" src="https://www.tripsavvy.com/thmb/NTpXeCxoJ8u9twhWr4Soc0BHNUA=/2159x1388/filters:fill(auto,1)/foregrounded-golf-bag-5c30e1a9c9e77c000132e486.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Card-location</p>
      <h5 class="card-title">Card title</h5>
      <h5 class="card-price">150 $ / day</h5>
    </div>
  </div>
</div>