
<div class="footer-container">
  <div class="options-footer d-flex justify-content-around">
    <div class="footer-list">
      <li><h5>About</h5></li>
      <li><a href="">Who are we</a></li>
      <li><a href="">How does it work</a></li>
      <li><a href="">Funding</a></li>
    </div>
    <div class="footer-list">
      <li><h5>Owner</h5></li>
      <li><a href="">Rent your bag</a></li>
      <li><a href="">Responsible renting</a></li>
      <li><a href="">Resource center</a></li>
    </div>
    <div class="footer-list">
      <li><h5>Renter</h5></li>
      <li><a href="">Rent a bag</a></li>
      <li><a href="">Renter responsabilities</a></li>
      <li><a href="">Resources Center</a></li>
    </div>
    <div class="footer-list">
    <ul>
      <li><h5>Support</h5></li>
      <li><a href="">Ask for help</a></li>
      <li><a href="">Help center</a></li>
      <li><a href="">Resources</a></li>
    </div>
    </ul>
  </div>
    <hr>
    <div class="footer">
        <div class="footer-links">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="footer-copyright">
          © 2021, Teed-up Inc. with <i class="fas fa-heart"></i> at Le Wagon
        </div>
    </div>
</div>